# Compiled Object files
*.slo
*.lo
*.o

# Object definition files
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
output/

# Python
__init__.py
*.pyc

*.root
*.png
*.pdf

docs/html

HH_htt/python/*.pyc
HH_htt/python/__init__.pyc
HH_htt/python/data_manager.pyc
HH_htt/compLimits_hh_2017_v*.py